@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="continaer mx-auto">

    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1>Sorry! You are not allowed to this page!</h1>
        </div>
    </div>
</div>